/**
 * Default CSS variables for styling.
 */
:root
  --animation-speed: 0.5s
  --border-radius: 0.5rem
  --ratio: 1.5
  --max-width: 65ch
  --gap: 1.5rem

  // TYPOGRAPHY
  --font-plain: 'Open Sans', sans-serif

  --font-size-tiny: 0.75rem
  --font-size-small: 0.875rem
  --font-size-base: 1rem
  --font-size-big: 1.5rem

  --weight-light: 300
  --weight-regular: 400
  --weight-medium: 600
  --weight-bold: 700

  // STACK
  --stack-300: 0
  --stack-400: 10
  --stack-500: 20
  --stack-600: 30
  --stack-700: 40

  // COLOR PALETTE
  // https://mycolor.space/?hex=%231C75BC&sub=1 
  --color-primary: #1C75BC
  --color-accent: #CB4D98
  --color-background: #f0faff
  --color-default: #3e4756
  --color-light: #f1f1e6

  // ACTION COLORS
  --color-success: #008342
  --color-danger: #c64541
  --color-warning: #dda01d
  --color-info: #4790d9

  // SHADES
  // https://mycolor.space/?hex=%233E4756&sub=1
  --grey-50: #f0faff
  --grey-100: #ced8ea
  --grey-200: #a7b1c3
  --grey-300: #828c9d
  --grey-400: #5f6878
  --grey-500: #3e4756
  --grey-600: #000819

  font-family: var(--font-plain)
  line-height: var(--ratio)
  color: var(--color-default)